<h1>Hello World!</h1>
<p>Authenticate your Yahoo app by clicking on the button below.</p>
<p>
  <a class="btn btn-primary btn-lg" href="/authenticate" role="button">
    Authenticate the app »
  </a>
</p>
