<h1>Error</h1>

<p class="text-danger">The system could not load the Yahoo client id or Yahoo
  secret. Make sure that it’s initialized in the file <code>.env</code>, which
  is not part of the original distribution. To see what <code>.env</code> would
  look like, see <code>.env.example</code>. If you are running this on Heroku,
  make sure you have configured a <code>YAHOO_CLIENT_ID</code> environment
  variable and the <code>YAHOO_CLIENT_SECRET</code> environment variable.</p>
